* {
    padding:0;
    Margin:0;
}
body {
    margin:0 auto;
    padding-top:0;
    background-color:lightskyblue
}

/*Home Page*/
.MainHeading {
    font-family: helvetica;
    color:red;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 100px;
    text-align: center;
}
.Courts {
    Width: 500px;
    padding-bottom: 10px;
}

.Discription {
    padding: 0px 20px;
    font-size: 20px;
    text-align: center;
}

/*Explination Page*/
.ExplanationTitle {
    font-family: helvetica;
    color:forestgreen;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.ForehandBackhand {
    padding: 0px 20px;
    text-align: center;
    font-size: 14;
}

/*Shots Page*/
.GroundStrokes {
    font-family: helvetica;
    color:blue;
    padding: 10px;
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
}

.GroundDiscs {
    Padding: 0px 20px;
    text-align: center;
    font-size: 14;
    padding-bottom: 20px;
}

.VolleysOverhead {
    font-family: helvetica;
    color:blue;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.VolleysOverheadDisc {
    padding: 0px 20px;
    text-align: center;
    font-size: 14;
    padding-bottom: 20px;
}

.ApproachShot {
    font-family: helvetica;
    color:blue;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.ApproachDisc {
    padding: 0px 20px;
    text-align: center;
    font-size: 14;
    padding-bottom: 20px;
}

.Serve {
    font-family: helvetica;
    color:blue;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.ServeDisc {
    padding: 0px 20px;
    text-align: center;
    font-size: 14;
    padding-bottom: 20px;
}

/*Nav Bar*/
nav li{
    list-style: none;
    margin:0 auto;
}

nav ul {
display:flex;
justify-content: space-around;
background-color: darkorange;
padding-top: 10px;
padding-bottom: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: inherit;
}

li:hover {
    transition-duration: 0.3s;
    transform:scale(2);
}

li:not(:hover) {
    transition-duration: 0.3s;
    transform:scale(1);
}
/*Serve Page*/
video {
    padding: 15px;
}


@media(max-width:1000px){
    body{
        width:80%;
    }
}